.experienceViewButtonsContainer {
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: space-between; */
    width: 90%;
    margin: 0 auto;
}

.backButton {
    display: flex;
    justify-self: center;
    width: 2.5rem;
    margin: 0.5rem 0 0 0.5rem;
}

.deleteButton,
.editButton {
    justify-self: center;
    width: 2.5rem;
    right: 2rem;
    margin-top: 3rem;
}

.backButtonImg,
.deleteButtonImg,
.editButtonImg {
    opacity: 0.7;
    height: 100%;
    width: 100%;
}

.experienceViewHeader {
    margin: 0 auto;
    color: rgb(1, 29, 4);
    width: 82%;
    line-height: 2rem;
    font-size: 1.8rem;
    padding: .2rem 1rem;
    background-color: #936639dc;
    color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-weight: 600;
}

.experienceViewImg {
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 2px black;
    border: 0.5px solid rgb(1, 29, 4);
    margin-top: 1rem;
}

.experienceViewDescription {
    color: rgb(1, 29, 4);
    width: 90%;
    text-align: left;
    margin: 0 auto;
}

@media (min-width: 35rem) {
    .experienceViewHeader {
        width: 33rem;
    }

    .experienceViewButtonsContainer,
    .experienceViewImg, .experienceViewDescription {
        width: 35rem;
    }

}