body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display: flex;
  justify-content: center;
  align-content: center;
}

.navIcon {
  margin: 1rem;
  text-decoration: none;
  color: black
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBar {
  margin: 1rem;
}

.searchBar input {
  text-align: center;
}

.activityBar {
  border-top: .2rem solid black;
  border-bottom: .2rem solid black;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.activityIcon {
  margin: .5rem
}

.parkImage {
  width: 18rem
}

.parkText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin: 1rem
}

.parkContainer {
  border:  solid black;
  margin: 1rem;
  width: 18rem;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa; 
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); 
}

.footer > footer {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.main-content {
  padding: 20px; 
  margin-bottom: 60px;
  overflow-y: auto;
  height: calc(100vh - 60px)
}