body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display: flex;
  justify-content: center;
  align-content: center;
}

.navIcon {
  margin: 1rem;
  text-decoration: none;
  color: black
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBar {
  display: flex;
  flex-direction: column;
  margin: .5rem 1rem 0 1rem;
  width: 100vw;
}

.searchBar input {
  text-align: center;
  border-radius: 2%/20%;
  border: none;
}

.searchInput {
  width:18rem
}

.activityBar {
  border-top: .2rem solid black;
  border-bottom: .2rem solid black;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 3rem; 
}

.activityIcon {
  margin: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activityButton {
  border: none; 
  background-color: rgba(173, 180, 147, 0);
  margin-top: 0;
  margin-bottom: 0;
}

.activityIcon img {
  height: 1.7rem;
  background-color: none;
}

.activityText {
  font-size: .6rem;
  margin:0;
  margin-bottom: .2rem;
}

.carousel {
  max-width: 80vw;
  margin: 0 10vw 0 10vw;
  box-shadow: inset -5px 0 5px -5px rgba(0, 0, 0, 0.1),
              inset 5px 0 5px -5px rgba(0, 0, 0, 0.1);
  /* border-radius: 5%/15%; */
  padding-bottom: 0
}

.imageCarousel {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.stateButton {
  border: none;
  background-color: #8B4513;
  color: white;
  font-weight: 500;
  width: 2rem;
  margin: 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6); 
  border-radius: 10%/20%;
}

.parkImage {
  width: 18rem;
}

.parkBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw
}

.tapBox {
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 100%;
}

.parkText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: left;
  width: 100%;
  max-height: 40%;
  background-color: rgba(0, 0, 0, .5);
  border-bottom-left-radius: 7% 35%;
  border-bottom-right-radius: 7% 35%;
}

.parkName {
  margin: .2rem .5rem 0 .7rem; 
  font-size: .8rem; 
  color: white;
  font-weight: 500;
}
.parkLocation {
  margin: 0 .5rem .3rem .7rem; 
  font-size: .7rem; 
  color: white;
}

.parkLink {
  text-decoration: none;
  height: 100%;
  width: 100%;
  bottom: 1rem
}

.parkContainer {
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  display: flex;
  border:  none;
  margin: .25rem;
  padding: 0;
  width: 18rem;
  height: 11rem;
  border-radius: 6%/10%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9)
}

.tileAddDestination {
  border: none;
  background-image: url('https://ucarecdn.com/ba670d08-4776-4edc-9528-7db89f14bda8/');
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  height: 1.5rem;
  width: 1.5rem;
  margin: .3rem .3rem;
}
.tileRemoveDestination {
  border: none;
  background-image: url('https://ucarecdn.com/70eb6013-f9b9-4377-9c48-4ded6a690e9f/');
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  height: 1.5rem;
  width: 1.5rem;
  margin: .3rem .3rem;
}

.tileAddExperience{
  border: none;
  background-image: url('https://ucarecdn.com/e8ede673-cced-4a2a-a020-941e395828ff/');
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  height: 1.5rem;
  width: 1.5rem;
  margin: .3rem .3rem;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa; 
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

.footer > footer {
  display: flex;
  justify-content: space-around;
}

.main-content {
  margin-bottom: 4rem;
 
}


.login {
  margin: .5rem
}


/* Styling for details */

.parkDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-bottom: 1.5rem;
}

.sizingBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailsHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  width: 90%;
}

.parkTitle {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  margin: 0 5rem;
}


.detailsHeader p,
.detailsHeader button {
  margin: .1rem
}

.detailName {
  padding: .4rem 0;
  background-color: #936639;
  color: white;
  border-radius: 3%/13%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  width: 100%;
}


.selectorBox {
  display: flex;
  margin: .5rem;
  padding: 0;
}

.selectorBox button {
  margin: 0 1rem;
}

.addedText {
  height: 1.5rem;
  padding: .4rem;
}

.parkDetails {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: none;
}

.carouselContainer {
  display: flex;
  flex-direction: column;
  width: 90vw;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-top: 3rem auto 1.5rem;
  height: 15rem;
  border: none;
  border-radius: 3%/5%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); 
}

.carouselImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20rem;
 
}

/* .carouselImage {
  max-height: 30rem;
  width: 100%;
  object-fit: fill;
  object-position: top; 
} */

.detailCarousel {
  width: 100%;
  border-radius: 3%/5%;
}

.parkDetailText {
  text-align: left;
  margin: 1rem;
  width: 90vw
}



/* media queries for the parks home page */

@media (min-width: 35rem) {

  .sizingBox {
    width: 35rem;
    border: .1rem solid black;
    background-color: rgb(181 179 145);
    border-radius: 5%/3%;
    margin: 1rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7); 
  }

  .carouselContainer {
    width: 90%;
  }

  .parkDetailText {
    width: 90%
  }

  .carouselContainer {
    
    height: 20rem;
    border: none;
    
  }

  .detailName {
    padding: 1rem 0
  }

}